@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');
h2 {
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  margin: 0 0 16px;
}
h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
h5 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #29303b;
}
p {
  font-size: 16px;
  line-height: 24px;
  color: #29303b;
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  font-weight: 300;
  margin: 0 0 16px;
}
.btn-pink {
  font-family: Mulish,sans-serif;
  font-weight: 700;
  font-size: 14px;
  background: #e83f82;
  height: 42px;
  padding: 10px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
.btn-violet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px!important;
  height: 54px; 
  background-color: #513fe8;
  border-radius: 12px;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.btn-green {
  display:inline-block;
  background-color: #02bb8c;
  border-color: #02bb8c;
  border-radius: 50px;
  font-weight: 500;
  padding: 15px 30px;
  max-width: 305px;
  margin: 0 auto;
  cursor: pointer;
  transition: .1s;
}
.btn-green-sm:hover,
.btn-green:hover {
  background: #9884fc;
  border-color: #9884fc;
}
.btn-green-sm {
  font-family: "Work Sans","Open Sans",Helvetica,Arial,sans-serif;
  color: #fff!important;
  background-color: #02bb8c;
  border-color: #02bb8c;
  padding: 10px 16px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 3px;
  font-weight: 500;
  width: 230px;
  max-width: 100%;
  cursor: pointer;
  margin: 0 auto;
}

.green-text {
  text-decoration: none;
  color: #fff;
  line-height: 1.625rem;
  font-size: 1.375rem;
  font-family: "Work Sans","Open Sans",Helvetica,Arial,sans-serif;
  width: auto;
}
/* header */
.header {
  position: fixed;  
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
}
.header-container {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  padding:0 15px;
  margin: 0 auto;
}
.header-container-left {
  display: flex;
  align-items: center;
}

.header-img {
  display: block;
  margin: 0 16px 0 0;
  padding:8px 0;
  display:flex;
  align-items: center;
}
.header img {
  max-width:100%;
  height: 36px;
  margin: 0 0 0 8px;
}
.header-dropdown {
  background: transparent;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 16px;
}
.header-dropdown:hover {
  background: hsla(0,0%,100%,.2);
  cursor: pointer;
}

.header-dropdown svg {
  pointer-events: none;
}
.is-show {
  display: block;
}
.header-menu-container {
  position: absolute;
  background:#fff;
  width: 800px;
  height:646px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: 1200;
  padding:24px;
  top: 16%;
  border-radius:3px;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 15%);
}
.header-menu-link {
  display: block;
  padding: 16px;
  text-decoration: none;
  border-radius:6px;
}
.header-menu-link h4 {
  color: #29303b;
  margin: 0 0 8px;
}
.header-menu-link:hover {
  background: #e7e7e7;
  text-decoration: none;
}

.header-navigations {
  display: flex;
  padding: 0 0 0 40px;
  list-style: none;
  height: 40px;
  line-height: 40px;
}
.header-navigation-link {
  font-size:14px;
  padding: 11px 16px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  border-radius: 4px;
}
.header-navigation-link:hover {
  background: hsla(0,0%,100%,.2);
}
.headerLoginButton {
  padding: 9px 10px;
  border: none;
  background-color: #E83f82;
  color: #fff;
  font-size:16px;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
}

.login-menu {
  position:absolute;
  text-align: center;
  top: 88%;
  background-color: #fff;
  right: 4px;
  width: 280px;
  margin-top: 2px;
  padding: 24px;
  height: 265px;
  border-radius:4px;
  right: -300px;
}
.login-menu h5 {
  margin-bottom: 8px;
  text-align:start;
}
.h5-sign {
  padding-top: 16px;
}
.login-menu button,
.login-menu a {
  display: flex;
  align-items: center;
  justify-content:center;
  border: none;
  border: 0 solid #e2e8f0;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
  text-decoration: none;
  color: #29303b;
  background: transparent;
  padding: 16px;
  width: 227px ;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px ;
  cursor: pointer;
}
.login-menu button:hover,
.login-menu a:hover {
  background-color: #f5f5f5;
}
.login-menu button img {
  width: 24px;
  margin-right: 8px;
}
.login-menu a svg {
  margin-right: 10px;
}
.active {
  right: 4px;
}

/* banner */
.banner {
  background-image:linear-gradient(1turn,rgba(23,23,26,.82),rgba(23,23,26,.82) 9.74%,transparent 75.12%),url("https://www.bitdegree.org/assets/homepage/crypto-hub-v2-banner.png");
  height: 735px;
  box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 30%);
  min-height: 550px;
  background-position: right -1px;
  background-size: cover;
  background-repeat: no-repeat; 
  display: flex;
  align-items: center;
  justify-content: center;  
}
.banner-container {
  margin-top: 78px;
  padding-top: 48px;
}
.banner div {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.banner h1 {
  font-size: 68px;
  color: #fff;
  font-weight: 700;
  line-height: 1;
  margin: 48px 0 10px;
}
.banner p {
  text-align: center;
  font-family: Mulish,sans-serif;
  font-weight: 400;
  font-size: 26px;
  padding: 0 15px;
  margin:32px 95px 35.2px;
  line-height: 38px;
  color: #fff;
  max-width: 950px;
}
.banner-button {
    font-family: Mulish,sans-serif;
    width: 320px;
    height: 54px;
    font-size: 20px;
    font-weight: 700;
    background-color: #513fe8;
    border-radius: 12px;
}
.banner-button a {
  padding-top: 12px;
  text-decoration: none;
  color: #f5f5f5;
}
/* partner */
.partner {
  padding: 48px 0;
}
.partner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.partner-container div:not(:last-child) {
  padding: 5px;
  margin-right: 5px;
}
.partner-container div:last-child {
  padding: 5px;
}
.partner-container div {
  filter: grayscale(100%);
  opacity: 0.4;
  transition: 0.3s linear;
}
.partner-container div:hover {
  filter: grayscale(0);
  opacity: 1;
}
.partner-container div img {
  height: 40px;
}
/* cryptoCourses */
.cryptoCourses {
  padding-top: 40px;
  padding-bottom: 100px;
}
.container-row {
  text-align: center;
}
.container-title {
  padding: 0 15px;
}
.container-title p {
  font-size: 36px;
  color: #29303b;
  font-weight: 600;
  line-height: 1.45;
}
.container-categories {
  display: flex;
  justify-content: center;
  margin: 16px 0 48px;
  padding: 0 15px;
}

.container-categories a {
  font-family: Mulish, sans-serif;
  font-size: 13px;
  color: #29303b;
  font-weight: 400;
  padding: 10px 15px;
  margin:0 0 8px;
  text-decoration: none;
  line-height: 1.5;
}
.container-categories a:first-child {
  color: #3f82e8;
  font-weight: 700;
  cursor: initial;
}
.container-categories a:hover {
  background: #eaecf7;
}
.container-input  {
  padding: 4px;
}
.container-input {
  position: relative;
  font-family: Mulish,sans-serif;
  background-color: #fff;
  display: inline-block;
}
.container-input div {
  display: inline-block;
}
.container-input input {
  border: 1px solid  #dedede;
  width: 520px;
  padding: 12px 16px;
  border-radius: 12px;
  font-size: 16px;
  line-height: 20.08px;
  letter-spacing: .2px;
  font-weight: 400;
  box-shadow: 0 10px 40px rgb(112 144 176 / 10%);
  color: #b6b6b6;
  transition: all .4s ease;
}
.container-input input:hover {
  border: 1px solid #e83f82;
}
.container-input input:focus-visible {
  border: 1px solid  #dedede;
}
.container-input span {
  position: absolute;
  right: 10px;
  top: 28%;
}
.container-input span a {
  padding: 6px 12px;
  color: #b6b6b6;
}
/* Featured */
.featured {
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 32px;
  margin-bottom: 24px;
  /* overflow: hidden; */
}

.featured-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px 0 28px;
}
.featured-title p{
  font-family: Mulish,sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 37.7px;
  color: #29303b;
}
.featured-title div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.featured-title a {
  display: inline-block;
  color: #dedede;
}
.featured-title a:last-of-type{
  color: #000;
}
.featured-title svg {
  width: 32px !important;
  height: 32px;
  border-radius: 51%;
  border: 1px solid #dedede;
  font-size: 13px;
}
.featured-card {
  max-width: 25%;
  margin: 0 0 8px;
  padding: 0 15px;
  box-shadow: 0 10.4714px 26.1785px rgb(112 144 176 / 20%);
  border-radius: 12px;
  cursor: pointer;
}
.featured-card:hover {
  box-shadow: 0 10px 26px rgb(112 144 176 / 35%);
}
.featured-card img {
  max-width: 255px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.featured-content {
  padding: 8px 15px;
}
.featured-content p {
  font-family: Mulish,sans-serif;
  height: 60px;
  color: #323943;
  font-weight: 600;
  line-height: 20.3px;
  letter-spacing: .15px;
  font-size: 14px;
}
.featured-evaluate  {
  display: flex;
  justify-content: space-between;
  margin: 0 0 8px;
}
.featured-evaluate div {
  font-family: Mulish,sans-serif;
  color: #909396;
  font-weight: 400;
  line-height: 12.55px;
  letter-spacing: .12px;
  font-size: 10px;
}
.featured-star {
  display:  flex;
  align-items: center;
  font-family: Mulish,sans-serif;
  font-weight: 600;
  color: #39414d;
  font-size: 10px;
  line-height: 12.55px;
  letter-spacing: .12px;
  margin-right: 2px;
  padding-top: 2px;
  
}
.featured-star svg {
  font-size: 11px;
  color: #f4c150;
  margin-right: 2px;
}
.featured-star-five {
  color: #6c757d;
  margin-left: 4px;
}
.featured-seller {
  padding: 0 15px;
  font-family: Mulish,sans-serif;
  font-weight: 700;
  color: #3d4658;
  font-size: 20px;
  line-height: 25.1px;
  letter-spacing: .2px;
  margin: 0;
}
.featured-btn {
  text-align: center;
  margin: 8px 10.625px 16px;
  width: 233px;
  color: #fff;
}
.featured-seller-best {
  position: relative;
  display: inline-block;
  color: #858585;
}
.featured-seller-best::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 13%;
  border: 1px solid #858585;
  width: 74%;
}
.featured-seller-new {
  font-family: Mulish,sans-serif;
  font-weight: 700;
  color: #ed1150;
  font-size: 20px;
  line-height: 25.1px;
  letter-spacing: .2px;
  margin: 0;
}
/* Learn */
.Learn-title {
  text-align: center;
  font-family: Mulish,sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
}
.Learn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}
.Learn-container img {
  margin-left: 48px;
  padding: 0 15px;
  max-width: 555px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Learn-container-content {
  margin-right: 48px;
  padding-right: 48px;
}
.text-title {
  font-size: 26px;
  font-weight: 700;
  line-height: 20px;
  color: #e83f82;
  letter-spacing: .05em;
}
.text-title-sub {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
}
.text-title-sub span {
  font-weight: 600;
  color: #29303B;
}
.title-sub-icon {
  color: #29303b;
  font-style: normal;
  font-weight: 400;
  font-size: 16px; 
}
.title-sub-icon span {
  font-weight: 600;
}
.title-sub-icon:last-of-type {
  padding: 0 0 24px;
}
.title-sub-icon svg {
  font-size: 16px;
  color: #e83f82;
  margin-right: 8px;
}
.Learn-btn a{
  text-decoration: none;
  color:#fff;
  font-family: Mulish,sans-serif; 
}
/* Discord */
.discord {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-image: url("https://www.bitdegree.org/assets/homepage/discord-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 354px;
  margin: 48px 0;
}
.discord-title {
  color: #fff;
  font-size: 36px;
  line-height: 52.2px;
  margin-bottom: 14px;
  font-weight: 700;
  font-family: Mulish,sans-serif;
}
.discord-desc {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 32px;
  line-height: 26.1px;
  color: #fff;
  font-family: Mulish,sans-serif;
}
/* Videos */

.videos {
  text-align: center;
  max-width: 1140px;
  margin: 0 auto;
}
.videos-container {
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-wrap: wrap;
 margin: 24px 0;

}
.videos-card {
  max-width: 33.3333%;
  padding: 0 15px;
  height: 323px;
}
.videos-card:hover .videos-card-top {
  filter: grayscale(0);
}

.videos-link {
  text-decoration: none;
}
.videos-positon-relative {
  position: relative;
  width: 100%;
}
.videos-card-top {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(.5);
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.videos-card-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90px;
  filter: none;
}
.videos-card-body {
  padding: 4px 0;
}
.videos-card-label {
  font-size: 16px;
  font-weight: 600;
  color: #db4437;
  text-align: start;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif;
}
.videos-card-desc {
  font-size: 18px;
  color: #000;
  line-height: 24px;
  font-weight: 700;
  text-align: start;
  width: auto;
}
.videos-btn {
  margin-bottom: 48px;
}
/* New */
.news-card {
  max-width: 25%;
  padding: 0 15px;
  height: 308px;
}
.news-card-top {
  max-width: 100%;
  height: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  filter: grayscale(.5);
  object-fit: cover;
}
.news-btn {
  margin-bottom: 42px;
  max-width: 292px;
}
/* exchanges */
.exchanges {
  margin: 24px 0;
  background:#000330;
}
.exchanges-container {
  display: flex;
  justify-content: space-between;
}
.exchanges-left {
  padding: 48px;
}
.exchanges-left ol {
  padding-left: 40px;
  margin-bottom: 16px;
}
.exchanges-left h2 {
  color:#e4e4e4;
  line-height: 45.5px;
}
.exchanges-left ol li,
.exchanges-left p {
  font-size:18px;
  line-height:30px;
  font-weight: 600;
  color:hsla(0,0%,100%,.8);
}
.exchanges-right img {
  max-width:636px;
}
/* evaluated */
.evaluated {
  margin: 48px 50px;
  padding:0 15px;
}
.evaluated-first {
  margin-bottom: 48px;
  padding: 0 15px;
  text-align: center;
}
.evaluated-container {
  display: flex;
  justify-content: space-between;
  margin:24px 0;
  padding:24px;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 15%);
}
.container-left {
  padding: 0 15px;
  text-align: center;
}
.container-left img {
  max-width:235.5px;
}
.evaluated-link {
  display: block;
  text-decoration: none;
  color: #02bb8c;
  font-size: 16px;
}
.wrapper-accuracy {
  display: flex;
  margin-bottom: 16px;
}
.verified {
  display:flex;
  align-items: center;
}
.verified-content {
  margin-left: 4px;
  color: #02bb8c;
  font-size: 12px;
  font-weight: 600;
}
.staff {
  margin-left: 16px;
  padding: 4px 8px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  background: #e9385a;
  border-radius: 3px;
  letter-spacing: -.5px;
}
.container-main-accuracy {
  padding-right: 15px;
}
.container-main-accuracy h2 {
  margin-bottom: 0;
}
.container-main-accuracy h5 {
  font-weight: 600; 
  font-size: 24px;
  margin: 0 0 16px;
}
.container-main-accuracy p {
  width:501px;
  font-size: 14px;
  color:#6c757d;
  font-weight: 300;
}
.container-information span {
  font-size: 12px;
  margin-right: 16px;
  color:#6c757d;
}
.container-information span:last-of-type {
  color:#e9385a;
}
.container-right {
  padding: 0 17.75px;
  
}
.container-rating {
  font-size: 24px;
  color:#29303b;
}
.rating-first {
  font-size: 14px;
  color:#6c757d;
  text-transform: uppercase;
}
.container-rating-stats svg {
  color:#f4c150;
}
.container-button {
  margin: 16px 0;
  text-align: center;
}
.container-button a {
  text-decoration: none;
  color:#fff;
}
/* comparison */
.comparison {
  margin: 48px auto;
  max-width: 1140px;
}
.comparison table {
  margin-bottom: 16px;
 
}
.text-light,.comparison-score-light,
.comparison-action-light,.comparison-title-light,
.comparison-header-light {
  border-left: 1px solid #02bb8c;
  border-right: 1px solid #02bb8c;
  background-color: rgba(2,187,140,.3);
}
.comparison-header-light {
  background-color: #02bb8c;
}
.comparison-action {
  border-right: 1px solid #b6b6b6;
  border-bottom: 1px solid #b6b6b6;
  padding: 12px;
}
table {
  border-spacing: 0;
}
table thead tr th {
  padding:4px 12px;
  color: #fff;
  border: 1px solid #b6b6b6;
}
table thead tr th:nth-child(2),
table thead tr th:nth-child(3){
  background: #cdcdcd;
}
.comparison-title td,
.comparison-title-light,.comparison-score td,
.desc-light td
{
  border-right: 1px solid #b6b6b6;
  padding:12px;
  text-align:center;
  font-size: 26px;
  font-weight: 600;
}
.comparison-score td div:nth-child(1) {
  font-size: 58px;
}
.comparison-icon svg {
  color:#f4c150;
}
.desc-light td {
  font-size: 16px;
  font-weight: 400;
  color: #212529;
}
.comparison-action td div{
  text-align: center;
  margin:auto;
}
.comparison-action td div a {
  text-decoration: none;
  color: #fff
}
 .comparison-action .comparsion-btn-link {
  display:block;
  margin-top: 16px;
  color: #02bb8c;
}
/* cryptoexchange */
.cryptoexchange {
  max-width: 1140px;
  margin: 48px auto;
  padding:48px 0;
}
.cryptoexchange-container {
  display: flex;
  padding: 0 15px;
}
.cryptoexchange-card {
  width: 25%;
  border:1px solid #e1e7ec;
  margin: 0 15px;
}
.cryptoexchange-card-top img {
  max-width:89px;
}
.cryptoexchange-card-top {
  display: flex;
  justify-content:space-between; 
  align-items: center;
}
.cryptoexchange-card-top div:nth-child(1),
.cryptoexchange-card-top div:nth-child(2){
  width: 50%;
  text-align: center;
  margin: 0 auto; 
  padding: 15px 0;
}
.cryptoexchange-card-top div:nth-child(1),
.cryptoexchange-card-top div:nth-child(2){
  border: 1px solid #e1e7ec;
}
.cryptoexchange-card-top span {
  text-transform: uppercase;
}
.cryptoexchange-card-main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.crytoexchange-card-point {
  width: 50%;
  text-align: center;
  padding:15px 0;
}
.crytoexchange-score-text {
  font-size: 36px;
  font-weight: 600;
}
.crytoexchange-star {
  color:#f4c150;
  font-size: 12px;
}
.crytoexchange-positon {
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
}
.crytoexchange-btn a {
  display: block;
  text-decoration: none;
  color:#fff;
  text-align: center;
}
/* tutorials */
.tutorials-card-top {
  max-width:255px;
}
.tutorials-btn {
  max-width:364px;
}
/* collections */
.collections {
  margin: 48px auto;
  padding: 48px 15px;
  text-align: center;
  max-width: 1140px;
}
.collections-main {
  margin: 48px 15px;
}
.collections-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.collections-card {
  height: 229px;
  width: 20%;
  padding: 16px;
  margin: 8px;
  border: 1px solid #e1e7ec;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 15%);
  border-radius: 3px;
  text-decoration: none;
}
.collections-card:hover {
  background-color: #e1e7ec;
}

.collections-card div img {
  max-width: 100px;
  margin-bottom: 16px;
}
.collections-card div h5 {
  font-size: 20px;
  margin-bottom: 8px;
  text-align: start;
}
.collections-card div p img{
  max-width: 16px;
  margin-bottom: 0;
}
.collections-content p {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 14px;
}
.collections-btn {
  color: #ffff;
  font-size: 22px;
  font-weight: 700;
  max-width: 335px;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');
h2 {
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  margin: 0 0 16px;
}
h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
h5 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #29303b;
}
p {
  font-size: 16px;
  line-height: 24px;
  color: #29303b;
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  font-weight: 300;
  margin: 0 0 16px;
}
.btn-pink {
  font-family: Mulish,sans-serif;
  font-weight: 700;
  font-size: 14px;
  background: #e83f82;
  height: 42px;
  padding: 10px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
.btn-violet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px!important;
  height: 54px; 
  background-color: #513fe8;
  border-radius: 12px;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.btn-green {
  background-color: #02bb8c;
  border-color: #02bb8c;
  border-radius: 50px;
  font-weight: 500;
  padding: 15px 30px;
  max-width: 305px;
  margin: 0 auto;
  cursor: pointer;
  transition: .1s;
}
.btn-green-sm:hover,
.btn-green:hover {
  background: #9884fc;
  border-color: #9884fc;
}
.btn-green-sm {
  font-family: "Work Sans","Open Sans",Helvetica,Arial,sans-serif;
  color: #fff!important;
  background-color: #02bb8c;
  border-color: #02bb8c;
  padding: 10px 16px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 3px;
  font-weight: 500;
  width: 230px;
  max-width: 100%;
  cursor: pointer;
  margin: 0 auto;
}

.green-text {
  text-decoration: none;
  color: #fff;
  line-height: 1.625rem;
  font-size: 1.375rem;
  font-family: "Work Sans","Open Sans",Helvetica,Arial,sans-serif;
  width: auto;
}
/* header */
.header {
  position: fixed;  
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
}
.header-container {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  padding:0 15px;
  margin: 0 auto;
}
.header-container-left {
  display: flex;
  align-items: center;
}

.header-img {
  display: block;
  margin: 0 16px 0 0;
  padding:8px 0;
  display:flex;
  align-items: center;
}
.header img {
  max-width:100%;
  height: 36px;
  margin: 0 0 0 8px;
}
.header-dropdown {
  background: transparent;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 16px;
}
.header-dropdown:hover {
  background: hsla(0,0%,100%,.2);
  cursor: pointer;
} 
.header-dropdown:focus ~ .header-menu {
  display: block;
}
.header-menu {
  display: none;
}
.header-dropdown svg {
  pointer-events: none;
}

.is-show {
  display: block;
}
.header-menu-container {
  position: absolute;
  background:#fff;
  width: 800px;
  height:646px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: 1200;
  padding:24px;
  top: 16%;
  border-radius:3px;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 15%);
}
.header-menu-link {
  display: block;
  padding: 16px;
  text-decoration: none;
  border-radius:6px;
}
.header-menu-link h4 {
  color: #29303b;
  margin: 0 0 8px;
}
.header-menu-link:hover {
  background: #e7e7e7;
  text-decoration: none;
}

.header-navigations {
  display: flex;
  padding: 0 0 0 40px;
  list-style: none;
  height: 40px;
  line-height: 40px;
}
.header-navigation-link {
  font-size:14px;
  padding: 11px 16px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  border-radius: 4px;
}
.header-navigation-link:hover {
  background: hsla(0,0%,100%,.2);
}
.headerLoginButton {
  padding: 9px 10px;
  border: none;
  background-color: #E83f82;
  color: #fff;
  font-size:16px;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
}
.login-menu {
  position:absolute;
  text-align: center;
  top: 88%;
  background-color: #fff;
  right: 4px;
  width: 280px;
  margin-top: 2px;
  padding: 24px;
  height: 265px;
  border-radius:4px;
  right: -300px;
}
.login-menu h5 {
  margin-bottom: 8px;
  text-align:start;
}
.h5-sign {
  padding-top: 16px;
}
.login-menu button,
.login-menu a {
  display: flex;
  align-items: center;
  justify-content:center;
  border: none;
  border: 0 solid #e2e8f0;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
  text-decoration: none;
  color: #29303b;
  background: transparent;
  padding: 16px;
  width: 227px ;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px ;
  cursor: pointer;
}
.login-menu button:hover,
.login-menu a:hover {
  background-color: #f5f5f5;
}
.login-menu button img {
  width: 24px;
  margin-right: 8px;
}
.login-menu a svg {
  margin-right: 10px;
}
.active {
  right: 4px;
}

/* banner */
.banner {
  background-image:linear-gradient(1turn,rgba(23,23,26,.82),rgba(23,23,26,.82) 9.74%,transparent 75.12%),url("https://www.bitdegree.org/assets/homepage/crypto-hub-v2-banner.png");
  height: 735px;
  box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 30%);
  min-height: 550px;
  background-position: right -1px;
  background-size: cover;
  background-repeat: no-repeat; 
  display: flex;
  align-items: center;
  justify-content: center;  
}
.banner-container {
  margin-top: 78px;
  padding-top: 48px;
}
.banner div {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.banner h1 {
  font-size: 68px;
  color: #fff;
  font-weight: 700;
  line-height: 1;
  margin: 48px 0 10px;
}
.banner p {
  text-align: center;
  font-family: Mulish,sans-serif;
  font-weight: 400;
  font-size: 26px;
  padding: 0 15px;
  margin:32px 95px 35.2px;
  line-height: 38px;
  color: #fff;
  max-width: 950px;
}
.banner-button {
    font-family: Mulish,sans-serif;
    width: 320px;
    height: 54px;
    font-size: 20px;
    font-weight: 700;
    background-color: #513fe8;
    border-radius: 12px;
}
.banner-button a {
  padding-top: 12px;
  text-decoration: none;
  color: #f5f5f5;
}
/* partner */
.partner {
  padding: 48px 0;
}
.partner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.partner-container div:not(:last-child) {
  padding: 5px;
  margin-right: 5px;
}
.partner-container div:last-child {
  padding: 5px;
}
.partner-container div {
  filter: grayscale(100%);
  opacity: 0.4;
  transition: 0.3s linear;
}
.partner-container div:hover {
  filter: grayscale(0);
  opacity: 1;
}
.partner-container div img {
  height: 40px;
}
/* cryptoCourses */
.cryptoCourses {
  padding-top: 40px;
  padding-bottom: 100px;
}
.container-row {
  text-align: center;
}
.container-title {
  padding: 0 15px;
}
.container-title p {
  font-size: 36px;
  color: #29303b;
  font-weight: 600;
  line-height: 1.45;
}
.container-categories {
  display: flex;
  justify-content: center;
  margin: 16px 0 48px;
  padding: 0 15px;
}

.container-categories a {
  font-family: Mulish, sans-serif;
  font-size: 13px;
  color: #29303b;
  font-weight: 400;
  padding: 10px 15px;
  margin:0 0 8px;
  text-decoration: none;
  line-height: 1.5;
}
.container-categories a:first-child {
  color: #3f82e8;
  font-weight: 700;
  cursor: initial;
}
.container-categories a:hover {
  background: #eaecf7;
}
.container-input  {
  padding: 4px;
}
.container-input {
  position: relative;
  font-family: Mulish,sans-serif;
  background-color: #fff;
  display: inline-block;
}
.container-input div {
  display: inline-block;
}
.container-input input {
  border: 1px solid  #dedede;
  width: 520px;
  padding: 12px 16px;
  border-radius: 12px;
  font-size: 16px;
  line-height: 20.08px;
  letter-spacing: .2px;
  font-weight: 400;
  box-shadow: 0 10px 40px rgb(112 144 176 / 10%);
  color: #b6b6b6;
  transition: all .4s ease;
}
.container-input input:hover{ 
  border: 1px solid #e83f82;
}
.container-input input:focus-visible {
  border: 1px solid  #dedede;
}
.container-input span {
  position: absolute;
  right: 10px;
  top: 28%;
}
.container-input span a {
  padding: 6px 12px;
  color: #b6b6b6;
}
/* Featured */
.featured {
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 32px;
  margin-bottom: 24px;
}
.featured-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: auto;
}
.featured-container-test {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.featured-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px 0 28px;
}
.featured-title p{
  font-family: Mulish,sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 37.7px;
  color: #29303b;
}
.featured-title div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.featured-title a {
  display: inline-block;
  color: #dedede;
}
.featured-title a:last-of-type{
  color: #000;
}
.featured-title svg {
  width: 32px !important;
  height: 32px;
  border-radius: 51%;
  border: 1px solid #dedede;
  font-size: 13px;
}
.featured-card {
  max-width: 25%;
  margin: 0 0 8px;
  padding: 0 15px;
  box-shadow: 0 10.4714px 26.1785px rgb(112 144 176 / 20%);
  border-radius: 12px;
  cursor: pointer;
}
.featured-card:hover {
  box-shadow: 0 10px 26px rgb(112 144 176 / 35%);
}
.featured-card img {
  max-width: 255px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.featured-content {
  padding: 8px 15px;
}
.featured-content p {
  font-family: Mulish,sans-serif;
  height: 60px;
  color: #323943;
  font-weight: 600;
  line-height: 20.3px;
  letter-spacing: .15px;
  font-size: 14px;
}
.featured-evaluate  {
  display: flex;
  justify-content: space-between;
  margin: 0 0 8px;
}
.featured-evaluate div {
  font-family: Mulish,sans-serif;
  color: #909396;
  font-weight: 400;
  line-height: 12.55px;
  letter-spacing: .12px;
  font-size: 10px;
}
.featured-star {
  display:  flex;
  align-items: center;
  font-family: Mulish,sans-serif;
  font-weight: 600;
  color: #39414d;
  font-size: 10px;
  line-height: 12.55px;
  letter-spacing: .12px;
  margin-right: 2px;
  padding-top: 2px;
  
}
.featured-star svg {
  font-size: 11px;
  color: #f4c150;
  margin-right: 2px;
}
.featured-star-five {
  color: #6c757d;
  margin-left: 4px;
}
.featured-seller {
  padding: 0 15px;
  font-family: Mulish,sans-serif;
  font-weight: 700;
  color: #3d4658;
  font-size: 20px;
  line-height: 25.1px;
  letter-spacing: .2px;
  margin: 0;
}
.featured-btn {
  text-align: center;
  margin: 8px 10.625px 16px;
  width: 233px;
  color: #fff;
}
.featured-seller-best {
  position: relative;
  display: inline-block;
  color: #858585;
}
.featured-seller-best::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 13%;
  border: 1px solid #858585;
  width: 74%;
}
.featured-seller-new {
  font-family: Mulish,sans-serif;
  font-weight: 700;
  color: #ed1150;
  font-size: 20px;
  line-height: 25.1px;
  letter-spacing: .2px;
  margin: 0;
}
/* Learn */
.Learn-title {
  text-align: center;
  font-family: Mulish,sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
}
.Learn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}
.Learn-container img {
  margin-left: 48px;
  padding: 0 15px;
  max-width: 555px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Learn-container-content {
  margin-right: 48px;
  padding-right: 48px;
}
.text-title {
  font-size: 26px;
  font-weight: 700;
  line-height: 20px;
  color: #e83f82;
  letter-spacing: .05em;
}
.text-title-sub {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
}
.text-title-sub span {
  font-weight: 600;
  color: #29303B;
}
.title-sub-icon {
  color: #29303b;
  font-style: normal;
  font-weight: 400;
  font-size: 16px; 
}
.title-sub-icon span {
  font-weight: 600;
}
.title-sub-icon:last-of-type {
  padding: 0 0 24px;
}
.title-sub-icon svg {
  font-size: 16px;
  color: #e83f82;
  margin-right: 8px;
}
.Learn-btn a{
  text-decoration: none;
  color:#fff;
  font-family: Mulish,sans-serif; 
}
/* Discord */
.discord {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-image: url("https://www.bitdegree.org/assets/homepage/discord-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 354px;
  margin: 48px 0;
}
.discord-title {
  color: #fff;
  font-size: 36px;
  line-height: 52.2px;
  margin-bottom: 14px;
  font-weight: 700;
  font-family: Mulish,sans-serif;
}
.discord-desc {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 32px;
  line-height: 26.1px;
  color: #fff;
  font-family: Mulish,sans-serif;
}
/* Videos */

.videos {
  text-align: center;
  max-width: 1140px;
  margin: 0 auto;
}
.videos-container {
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-wrap: wrap;
 margin: 24px 0;

}
.videos-card {
  max-width: 33.3333%;
  padding: 0 15px;
  height: 100%;
}

.videos-link {
  text-decoration: none;
}
.videos-positon-relative {
  position: relative;
  width: 360px;
}
.videos-card-top {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(.5);
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.videos-card-top:hover {
  filter: grayscale(0);
}
.videos-card-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90px;
  filter: none;
}
.videos-card-body {
  padding: 4px 0;
}
.videos-card-label {
  font-size: 16px;
  font-weight: 600;
  color: #db4437;
  text-align: start;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif;
}
.videos-card-desc {
  font-size: 18px;
  color: #000;
  line-height: 24px;
  font-weight: 700;
  text-align: start;
  width: auto;
}
.videos-btn {
  margin-bottom: 48px;
}
/* New */
.news-card {
  max-width: 25%;
  padding: 0 15px;
  height: 308px;
}
.news-card-top {
  max-width: 262.5px;
  height: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  filter: grayscale(.5);
  object-fit: cover;
}
.news-btn {
  margin-bottom: 42px;
  max-width: 292px;
}
/* exchanges */
.exchanges {
  margin: 24px 0;
  background:#000330;
}
.exchanges-container {
  display: flex;
  justify-content: space-between;
}
.exchanges-left {
  padding: 48px;
}
.exchanges-left ol {
  padding-left: 40px;
  margin-bottom: 16px;
}
.exchanges-left h2 {
  color:#e4e4e4;
  line-height: 45.5px;
}
.exchanges-left ol li,
.exchanges-left p {
  font-size:18px;
  line-height:30px;
  font-weight: 600;
  color:hsla(0,0%,100%,.8);
}
.exchanges-right img {
  max-width:636px;
}
/* evaluated */
.evaluated {
  margin: 48px 50px;
  padding:0 15px;
}
.evaluated-first {
  margin-bottom: 48px;
  padding: 0 15px;
  text-align: center;
}
.evaluated-container {
  display: flex;
  justify-content: space-between;
  margin:24px 0;
  padding:24px;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 15%);
}
.container-left {
  padding: 0 15px;
  text-align: center;
}
.container-left img {
  max-width:235.5px;
}
.evaluated-link {
  display: block;
  text-decoration: none;
  color: #02bb8c;
  font-size: 16px;
}
.wrapper-accuracy {
  display: flex;
  margin-bottom: 16px;
}
.verified {
  display:flex;
  align-items: center;
}
.verified-content {
  margin-left: 4px;
  color: #02bb8c;
  font-size: 12px;
  font-weight: 600;
}
.staff {
  margin-left: 16px;
  padding: 4px 8px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  background: #e9385a;
  border-radius: 3px;
  letter-spacing: -.5px;
}
.container-main-accuracy {
  padding-right: 15px;
}
.container-main-accuracy h2 {
  margin-bottom: 0;
}
.container-main-accuracy h5 {
  font-weight: 600; 
  font-style: 24px;
  margin: 0 0 16px;
}
.container-main-accuracy p {
  width:501px;
  font-size: 14px;
  color:#6c757d;
  font-weight: 300;
}
.container-information span {
  font-size: 12px;
  margin-right: 16px;
  color:#6c757d;
}
.container-information span:last-of-type {
  color:#e9385a;
}
.container-right {
  padding: 0 17.75px;
  
}
.container-rating {
  font-size: 24px;
  color:#29303b;
}
.rating-first {
  font-size: 14px;
  color:#6c757d;
  text-transform: uppercase;
}
.container-rating-stats svg {
  color:#f4c150;
}
.container-button {
  margin: 16px 0;
  text-align: center;
}
.container-button a {
  text-decoration: none;
  color:#fff;
}
/* comparison */
.comparison {
  margin: 48px auto;
  max-width: 1140px;
}
.comparison table {
  margin-bottom: 16px;
 
}
.text-light,.comparison-score-light,
.comparison-action-light,.comparison-title-light,
.comparison-header-light {
  border-left: 1px solid #02bb8c;
  border-right: 1px solid #02bb8c;
  background-color: rgba(2,187,140,.3);
}
.comparison-header-light {
  background-color: #02bb8c;
}
.comparison-action {
  border-right: 1px solid #b6b6b6;
  border-bottom: 1px solid #b6b6b6;
  padding: 12px;
}
table {
  border-spacing: 0;
}
table thead tr th {
  padding:4px 12px;
  color: #fff;
  border: 1px solid #b6b6b6;
}
table thead tr th:nth-child(2),
table thead tr th:nth-child(3){
  background: #cdcdcd;
}
.comparison-title td,
.comparison-title-light,.comparison-score td,
.desc-light td
{
  border-right: 1px solid #b6b6b6;
  padding:12px;
  text-align:center;
  font-size: 26px;
  font-weight: 600;
}
.comparison-score td div:nth-child(1) {
  font-size: 58px;
}
.comparison-icon svg {
  color:#f4c150;
}
.desc-light td {
  font-size: 16px;
  font-weight: 400;
  color: #212529;
}
.comparison-action td div{
  text-align: center;
  margin:auto;
}
.comparison-action td div a {
  text-decoration: none;
  color: #fff
}
 .comparison-action .comparsion-btn-link {
  display:block;
  margin-top: 16px;
  color: #02bb8c;
}
/* cryptoexchange */
.cryptoexchange {
  max-width: 1140px;
  margin: 48px auto;
  padding:48px 0;
}
.cryptoexchange-container {
  display: flex;
  padding: 0 15px;
}
.cryptoexchange-card {
  width: 25%;
  border:1px solid #e1e7ec;
  margin: 0 15px;
}
.cryptoexchange-card-top img {
  max-width:89px;
}
.cryptoexchange-card-top {
  display: flex;
  justify-content:space-between; 
  align-items: center;
}
.cryptoexchange-card-top div:nth-child(1),
.cryptoexchange-card-top div:nth-child(2){
  width: 50%;
  text-align: center;
  margin: 0 auto; 
  padding: 15px 0;
}
.cryptoexchange-card-top div:nth-child(1),
.cryptoexchange-card-top div:nth-child(2){
  border: 1px solid #e1e7ec;
}
.cryptoexchange-card-top span {
  text-transform: uppercase;
}
.cryptoexchange-card-main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.crytoexchange-card-point {
  width: 50%;
  text-align: center;
  padding:15px 0;
}
.crytoexchange-score-text {
  font-size: 36px;
  font-weight: 600;
}
.crytoexchange-star {
  color:#f4c150;
  font-size: 12px;
}
.crytoexchange-positon {
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
}
.crytoexchange-btn a {
  display: block;
  text-decoration: none;
  color:#fff;
  text-align: center;
}
/* tutorials */
.tutorials-card-top {
  max-width:255px;
}
.tutorials-btn {
  max-width:364px;
}
/* collections */
.collections {
  margin: 48px auto;
  padding: 48px 15px;
  text-align: center;
  max-width: 1140px;
}
.collections-main {
  margin: 48px 15px;
}
.collections-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.collections-card {
  height: 229px;
  width: 20%;
  padding: 16px;
  margin: 8px;
  border: 1px solid #e1e7ec;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 15%);
  border-radius: 3px;
  text-decoration: none;
}
.collections-card:hover {
  background-color: #e1e7ec;
}
.collections-card-image {

}
.collections-card div img {
  max-width: 100px;
  margin-bottom: 16px;
}
.collections-card div h5 {
  font-size: 20px;
  margin-bottom: 8px;
  text-align: start;
}
.collections-card div p img{
  max-width: 16px;
  margin-bottom: 0;
}
.collections-content p {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 14px;
}
.collections-btn {
  color: #ffff;
  font-size: 22px;
  font-weight: 700;
  max-width: 335px;
}
/* footer */
.footer {
  background-color: #19202a;
    color: #a1a7b3;
    font-size: 13px;
    line-height: 18px;
    width: 100%;
}
.footer-container {
  padding: 40px 15px;
  margin: 0 66px;
}
.footer-grid {
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}
.footer-grid-item{
  padding-left: 15px;
  margin-bottom: 24px;
  height: 270px;
}
.footer-grid-item:last-child{
  padding:0 15px;
  margin: 0;
}
.footer-grid-item h5 {
  text-transform: uppercase;
  color: #cdcdcd;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 26px;
  max-width:174px;
}
.footer-grid-item ul li {
  list-style: none;
}
.footer-grid-item ul li a {
  margin-bottom: 5px;
  padding: 2px 0;
  line-height: 18px;
  display: block;
  color: #cdcdcd;
  font-size: 13px;
  font-weight: 300;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}
.footer-language {
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding: 10px 35px 10px 15px;
  margin-bottom: 16px;
  color: #fff;
  width: 150px;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  border-radius: 3px;
  background: hsla(0,0%,100%,.1);
  position: relative;
  cursor: pointer;
}
.footer-language img{
  width: 20px;
}
.footer-icon {
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.footer-icon a {
  color: #fff;
    margin-right: 5px;
    font-size: 16px;
    opacity: .5;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-bottom: 5px;
    text-align: center;
    background: hsla(0,0%,100%,.2);
    position: relative;
}
.footer-icon a:hover {
  opacity: 1;
}
.footer-icon a svg {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
}
.footer-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}
.footer-logo div a img {
  opacity: 0.6;
  max-width:150px
}
.branding {
  padding: 25px 0;
  border: 1px solid #222a36;
}
.branding-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  margin: 0 66px;
}
.branding-container img {
  width: 120px;
  opacity: 0.6;
}
.branding-container p {
  color: #b8bdc5;
  padding: 5px 0;
  line-height: 18px;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}
.branding-container p a {
  color: #fff;
  text-decoration: none;
}